<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charst="utf-8">
	<title>ログイン前</title>
</head>
<body>
	<h2>ログイン</h2>
	<form action="/login" method="POST">
		<input type="text" name="name" placeholder="Name">
		<input type="password" name="password" placeholder="Password">
		<button type="submit">ログイン</button>
	</form>
	<h2>新規登録</h2>
	<form action="/add" method="POST">
		<input type="text" name="name" placeholder="Name">
		<input type="password" name="password" placeholder="Password">
		<button type="submit">新規登録</button>
	</form>
</body>
</html>
