@chatset "UTF-8";

* {
 margin: 0;
    padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center{
    font-size: 3rem;
    color: #383838;
}

div#topBar{
    width:  100%;
    height: 20px;
    background: #2980b9;
}

div#topBar a,div#topBar span{
   color: white;
}
h1#chat-heading{
 width: 100%;
 margin-top: 50px;
 margin-bottom: 60px;
 font-weight: 100;
 color: #777;
 text-align: center;
}

form#sendForm{
   margin-bottom: 30px;   
}

button#send, button#truncate{
  width: 100%;
}

/* comment area */
div#chat-area{
 height: 300px;
 margin-bottom: 30px;
 font-size: 16px;
 border: 1px solid #eee;
 text-align: center;
 overflow: scroll;
}

div#chat-area form{
    padding-top: 5px;
    border-bottom: 1px solid #ddd;
}

div#chat-area div.form-group div{
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

div#chat-area form:nth-child(even){
    background: #eee;
}

div#chat-area form:nth-child(even) div.form-group div{
    border-bottom: 1px solid #fff;
}

#alert{
    margin-bottom: 0;
}

div#chat-area button{
 width: 20%;   
}